<main class="main">
  <div class="body">
    <div class="title-container">
      <h1 class="title"><span style="color: gold">FOREVER</span> FLASHCARDS</h1>
    </div>

    <div class="input-container">
      <input class="question-input" spellcheck="false" placeholder="Enter a topic..." type="text"
        [(ngModel)]="userAnswer">
    </div>

    <div class="button-container">
      <button class="generate-button" (click)="submitAnswer()">Generate Cards</button>
      <div class="card-quantity-selector">
        <label for="cardQuantity">Number of Cards:</label>
        <select id="cardQuantity" [(ngModel)]="selectedCardQuantity">
          <option *ngFor="let quantity of cardQuantities" [value]="quantity">{{ quantity }}</option>
        </select>
      </div>
      
    </div>

    
  </div>
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner"></div>
  </div>
  <div class="flashcards-container">
    <div class="deck-management-buttons">
      <input class="deck-name-input" type="text" [(ngModel)]="newDeckName" placeholder="Deck name..." />
      <button class="save-button" (click)="saveNewDeck(newDeckName)">Save</button>
      
      <select class="select-deck" [(ngModel)]="selectedDeckName">
        <option *ngFor="let deck of decks" [value]="deck.name">{{ deck.name }}</option>
      </select>
      <button class="load-button" (click)="loadSelectedDeck()">Load</button>
  
      <button class="delete-button" (click)="deleteSelectedDeck()">Delete</button>
  
    </div>
    <div *ngIf="flashcards && flashcards.length > 0">
      <div (click)="toggleFlashcard(flashcards[currentIndex])" class="flashcard">
        <p [ngClass]="flashcards[currentIndex].flipped ? 'flashcard-hidden' : 'flashcard-visible'">{{
          flashcards[currentIndex].front }}</p>
        <p [ngClass]="flashcards[currentIndex].flipped ? 'flashcard-visible' : 'flashcard-hidden'">{{
          flashcards[currentIndex].back }}</p>
      </div>

      <div class="navigation-buttons">
        <button class="switch-button" (click)="prevFlashcard()">Back</button>
        <button class="switch-button" (click)="nextFlashcard()">Next</button>
        <button class="flip-button" (click)="toggleFlashcard(flashcards[currentIndex])">Flip</button>
      </div>
      
      
  </div>
  </div>
</main>

<router-outlet></router-outlet>